body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #B6CBBD;
}

#titulo1 {
    text-align: center;
    margin-top: 2rem;
    color: #2C3930;
}

#cards {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 98%;
    justify-self: center;
}

.card-img-top {
    margin-top: 1rem;
    width: 15rem;
    height: 18rem;
    align-self: center;
    border-radius: 10px;
}

.card {
    background-color: #EBE5C2;
    width: 23rem;
    border-color: #504B38;
    border-radius: 10px;
}

.card-body button {
    background-color: #F8F3D9;
}

#pContraseña {
    height: 50vh;
    align-self: center;
    width: 50vw;
    align-content: center;
    text-align: center;
}

#form {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#form1 {
    text-align: center;
    align-self: center;
}

#form1 label {
    font-size: 3rem;
    color: #2C3930;
}

#form1 input {
    border-radius: 5px;
    background-color: #F8F3D9;
}

#form1 button {
    border-radius: 5px;
    background-color: #F8F3D9;
}

#pPrincipalesBtns {
    height: 100vh;
    width: 100vw;
    align-content: center;
}

#principalesBtns {
    justify-content: center;
}

#pConsultarSaldo {
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-items: center;
}

#pIngresaMonto {
    height: 100vh;
    width: 100vw;
    align-content: center;
    text-align: center;
    justify-items: center;
}

#formIngresarMonto input {
    border-radius: 5px;
    background-color: #F8F3D9;
}

#pRetirarMonto {
    height: 100vh;
    width: 100vw;
    align-content: center;
    text-align: center;
    justify-items: center;
}

#formRetirarMonto input {
    border-radius: 5px;
    background-color: #F8F3D9;
}

.titulos {
    color: #2C3930;
    font-size: 3rem;
    align-self: center;
}

.boton-estilizado {
    align-self: center;
    padding: 5px 10px;
    background-color: #F8F3D9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    border-color: black;
    border-width: 2px;
    width: fit-content;
    margin-bottom: 10%;
}
